<nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
  <a href="" class="navbar-brand">
      <h1 class="m-0 text-primary"><span class="text-dark">POP</span>JUAR</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
      <div class="navbar-nav ml-auto py-0">
          <a href="/" class="nav-item nav-link">Home</a>
          <a href="/about" class="nav-item nav-link">About</a>
          <a href="/service" class="nav-item nav-link">Services</a>
          <a href="/package" class="nav-item nav-link">Tour Packages</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                  <a href="/blog" class="dropdown-item">Blog Grid</a>
                  <a href="/single" class="dropdown-item">Blog Detail</a>
                  <a href="/destination" class="dropdown-item">Destination</a>
                  <a href="/guide" class="dropdown-item">Travel Guides</a>
                  <a href="/testimonial" class="dropdown-item">Testimonial</a>
              </div>
          </div>
          <a href=<%-navbar_url%> class="nav-item nav-link"><%- navbar_msg%></a>
          <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
  </div>
</nav>